<div class="bg-light text-uppercase font-weight-bold" style="padding: 4px 3px;">
  Order Summary
</div>
<div style="padding: 4px;">
  <p class="font-italic" style="margin-bottom: 4px;">Shipping costs will be added depending on choices made during checkout</p>
  <ul class="list-unstyled" style="margin-bottom: 4px;" *ngIf="(basketTotal$ | async) as basketTotal">
    <li class="d-flex justify-content-between border-botom" style="padding: 3px 0;">
      <strong class="text-muted">Order subtotal</strong>
      <strong>{{basketTotal.subtotal | currency }}</strong>
    </li>
    <li class="d-flex justify-content-between border-botom" style="padding: 3px 0;">
      <strong class="text-muted">Shipping and handling</strong>
      <strong>{{basketTotal.shipping | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between border-botom" style="padding: 3px 0;">
      <strong class="text-muted">Total</strong>
      <strong>{{basketTotal.total | currency }}</strong>
    </li>
  </ul>
</div>
