<div class="card h-100 shadow-sm">
  <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid" style="background-color: #20B2AA	;">

  <div class="card-body">
    <a href="#" style="text-decoration: none;" routerLink="/shop/{{product.id}}">
      <h6 class="text-uppercase" style=" color: #333; ">{{product.name}}</h6>
    </a>
    <span class="me-2">{{product.price | currency}}</span>
    <div class="btn-group ">
      <button type="button" class="btn btn-outline-secondary fa fa-shopping-cart me-2"></button>
      <button type="button" class="btn btn-outline-secondary" routerLink="/shop/{{product.id}}">View</button>
    </div>
  </div>
</div>
